node_modules
npm-debug.log
Dockerfile
.dockerignore
.git
.gitignore
**/.git
**/node_modules
**/dist
**/coverage
**/build
**/.next
**/.cache
**/.vscode
**/.idea
**/*.md
**/*.log
**/*.tmp
**/*.swp
**/Dockerfile*
