[phases.setup]
nixPkgs = ["nodejs-18_x"]

[phases.install]
cmds = ["npm install"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npm run start:prod"

[build.environment]
NODE_ENV = "production"

[build.args]
NODE_ENV = { default = "production" }
